
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500');


:root {
  --black : #020617;
  --gray : #fdfdfd;
  --blueGray : #33323e;
  --green : #2ec4b6;
  --red : #f03e3e;
  --slate : #1f2937;
  --blackGray: #161b21;
}

body {
  background:var(--black);
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


